<!DOCTYPE html>
<html lang="en">

<head>
  <title>Info</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="HTML5 website template">
  <meta name="keywords" content="global, template, html, sass, jquery">
  <meta name="author" content="Bucky Maler">
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <link rel="stylesheet" type="text/css" href="assets/css/index.css" />
  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="stylesheet" href="assets/css/tables.css">
  <link rel="stylesheet" href="assets/css/chart.css">
</head>

<body>
  <div class="perspective effect-rotate-left">
    <div class="container" id="mytop">
      <div class="outer-nav--return"></div>
      <div id="viewport" class="l-viewport">
        <div class="l-wrapper">
          <header class="header">
            <a class="header--logo" href="./index.html">
              <img src="assets/img/logo.png" alt="Info">
              <p>首页</p>
            </a>
            <div class="header--nav-toggle">
              <span></span>
            </div>
          </header>
          <nav class="l-side-nav">
            <ul class="side-nav">
              <li class="is-active"><span>Search</span></li>
              <li><span>News</span></li>
              <li><span>Tables</span></li>
              <li><span>Charts</span></li>
              <li><span>Feeling</span></li>
            </ul>
          </nav>
          <ul class="l-main-content main-content">
            <li class="l-section section section--is-active">
              <!-- 主体区域 -->
              <section id="todoapp">
                <!-- 输入框 -->
                <header id="myheader">
                  <p class="title">covid-19 info search</p>
                  <div class="search-form">
                    <div id="search-bd" class="search-bd">
                      <ul>
                        <li class="blue1" :class="{selected : choose == 1}" @click="News">搜新闻</li>
                        <li class="blue2" :class="{selected : choose == 2}" @click="Rumor">搜谣言</li>
                        <li class="blue3" :class="{selected : choose == 3}" @click="Comment">搜微博</li>
                      </ul>
                    </div>
                    <div id="search-hd" class="search-hd">
                      <div class="search-bg"></div>
                      <input type="text" id="s1" class="search-input" v-model="inputValue" @input="suggest"
                        @keyup.enter="search" autofocus="autofocus" autocomplete="off" placeholder="请在此输入想搜索的新闻">
                      <input type="text" id="s2" class="search-input" v-model="inputValue" @input="suggest"
                        @keyup.enter="search" autofocus="autofocus" autocomplete="off" placeholder="请在此输入想搜索的谣言">
                      <input type="text" id="s3" class="search-input" v-model="inputValue" @input="suggest"
                        @keyup.enter="search" autofocus="autofocus" autocomplete="off" placeholder="请在此输入想搜索的微博">
                      <el-date-picker class="block" v-model="value" type="daterange" range-separator="至"
                        start-placeholder="开始日期" end-placeholder="结束日期" unlink-panels>
                      </el-date-picker>
                      <button id="submit" class="btn-search" value="搜索" @click="search">搜索</button>
                    </div>
                  </div>
                </header>
                <!-- 列表区域 -->
                <div class="main">
                  <ul class="todo-list">
                    <li class="todo" v-for="(item,index) in list">
                      <div class="view">
                        <span class="index" @click="setInput(index)">{{ index+1 }}.</span>
                        <label @click="setInput(index)">{{ item }}</label>
                        <button class="destroy" @click="remove(index)"></button>
                      </div>
                    </li>
                  </ul>
                </div>
                <!-- 统计和清空 -->
                <footer class="footer" v-show="list.length!=0">
                  <span class="todo-count">
                    <strong>{{ list.length }}</strong> items left
                  </span>
                  <button v-show="list.length!=0" class="clear-completed" @click="clear">
                    Clear
                  </button>
                </footer>
              </section>
            </li>
            <li class="l-section section">
              <div id="news" class="mycontainer" data-ripple>
                <section class="mycard-wrap">
                  <div class="head">
                    <Strong>Latest News</Strong>
                  </div>
                  <div style="height: 400px;overflow-y: auto;">
                    <div v-for="news in newsList" class="text news news-card">
                      <a target="_blank" :href="news.sourceUrl"
                        class="no-underline"><strong>{{news.title}}</strong></a><br>
                      <div><a target="_blank" :href="news.sourceUrl" class="no-underline">{{news.summary}}</a>
                        <br><a target="_blank" :href="news.sourceUrl" class="no-underline">from {{news.infoSource}} ·
                          {{news.pubDateStr}}</a>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </li>
            <li class="l-section section">
              <div id="tables">
                <div class="left">
                  <el-button type="success" plain @click="loadprovince">全球</el-button>
                  <el-dropdown>
                    <el-button type="primary" plain>
                      国内<i class="el-icon-arrow-down el-icon--right"></i>
                    </el-button>
                    <el-dropdown-menu slot="dropdown">
                      <el-dropdown-item v-for="sel in selectList" @click.native="loadcity(sel)">{{sel}}
                      </el-dropdown-item>
                    </el-dropdown-menu>
                  </el-dropdown>
                </div>
                <el-table :data="tableData" height="430" v-if="choose == 0">
                  <el-table-column type="expand" v-if="choose == 0">
                    <template slot-scope="props">
                      <el-form label-position="left" inline class="demo-table-expand">
                        <el-form-item label="洲名">
                          <span>{{ props.row.continentName }}</span>
                        </el-form-item>
                        <el-form-item label="国名">
                          <span>{{ props.row.countryName }}</span>
                        </el-form-item>
                        <el-form-item label="省名">
                          <span>{{ props.row.provinceName }}</span>
                        </el-form-item>
                        <el-form-item label="总确诊人数">
                          <span>{{ props.row.confirmedCount }}</span>
                        </el-form-item>
                        <el-form-item label="现存人数">
                          <span>{{ props.row.currentConfirmedCount }}</span>
                        </el-form-item>
                        <el-form-item label="疑似人数">
                          <span>{{ props.row.suspectedCount }}</span>
                        </el-form-item>
                        <el-form-item label="治愈人数">
                          <span>{{ props.row.curedCount }}</span>
                        </el-form-item>
                        <el-form-item label="死亡人数">
                          <span>{{ props.row.deadCount }}</span>
                        </el-form-item>
                        <el-form-item label="更新时间">
                          <span>{{ props.row.updateTime }}</span>
                        </el-form-item>
                      </el-form>
                    </template>
                  </el-table-column>
                  <el-table-column label="国名" prop="countryName">
                  </el-table-column>
                  <el-table-column label="省名" prop="provinceName">
                  </el-table-column>
                  <el-table-column label="总确诊人数" prop="confirmedCount">
                  </el-table-column>
                  <el-table-column label="现存确诊人数" prop="currentConfirmedCount">
                  </el-table-column>
                  <el-table-column label="更新时间" prop="updateTime">
                  </el-table-column>
                </el-table>
                <div v-if="choose == 1" class="left">
                  <div
                    class="el-table el-table--fit el-table--scrollable-x el-table--enable-row-hover el-table--enable-row-transition"
                    style="height: 430px;">
                    <div class="el-table__header-wrapper">
                      <table cellspacing="0" cellpadding="0" class="el-table__header" style="width: 100%;">
                        <thead class="has-gutter">
                          <tr class="">
                            <th colspan="1" rowspan="1" class="el-table_1_column_1     is-leaf">
                              <div class="cell">名称</div>
                            </th>
                            <th colspan="1" rowspan="1" class="el-table_1_column_2     is-leaf">
                              <div class="cell">总确诊人数</div>
                            </th>
                            <th colspan="1" rowspan="1" class="el-table_1_column_3     is-leaf">
                              <div class="cell">现存确诊人数</div>
                            </th>
                            <th colspan="1" rowspan="1" class="el-table_1_column_4     is-leaf">
                              <div class="cell">疑似人数</div>
                            </th>
                            <th colspan="1" rowspan="1" class="el-table_1_column_5     is-leaf">
                              <div class="cell">治愈人数</div>
                            </th>
                            <th colspan="1" rowspan="1" class="el-table_1_column_6     is-leaf">
                              <div class="cell">死亡人数</div>
                            </th>
                            <th class="gutter" style="width: 0px; display: none;"></th>
                          </tr>
                        </thead>
                      </table>
                    </div>
                    <div class="el-table__body-wrapper is-scrolling-left" style="height: 431px;">
                      <table cellspacing="0" cellpadding="0" class="el-table__body" style="width: 100%;">
                        <tbody>
                          <tr class="el-table__row" v-for="city in cityData">
                            <td rowspan="1" colspan="1" class="el-table_1_column_1  ">
                              <div class="cell">{{city.cityName}}</div>
                            </td>
                            <td rowspan="1" colspan="1" class="el-table_1_column_2  ">
                              <div class="cell">{{city.confirmedCount}}</div>
                            </td>
                            <td rowspan="1" colspan="1" class="el-table_1_column_3  ">
                              <div class="cell">{{city.currentConfirmedCount}}</div>
                            </td>
                            <td rowspan="1" colspan="1" class="el-table_1_column_4  ">
                              <div class="cell">{{city.suspectedCount}}</div>
                            </td>
                            <td rowspan="1" colspan="1" class="el-table_1_column_5  ">
                              <div class="cell">{{city.curedCount}}</div>
                            </td>
                            <td rowspan="1" colspan="1" class="el-table_1_column_6  ">
                              <div class="cell">{{city.deadCount}}</div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="el-table__column-resize-proxy" style="display: none;"></div>
                  </div>
                </div>
              </div>
            </li>
            <li class="l-section section">
              <div id="charts">
                <div class="chart-pos">
                  <el-dropdown>
                    <el-button type="primary" plain>
                      省份<i class="el-icon-arrow-down el-icon--right"></i>
                    </el-button>
                    <el-dropdown-menu slot="dropdown">
                      <el-dropdown-item v-for="province in provinceList" @click.native="loadcity(province)">{{province}}
                      </el-dropdown-item>
                    </el-dropdown-menu>
                  </el-dropdown>
                  <el-dropdown v-if="cityData.length > 0">
                    <el-button type="primary" plain>
                      城市<i class="el-icon-arrow-down el-icon--right"></i>
                    </el-button>
                    <el-dropdown-menu slot="dropdown">
                      <el-dropdown-item v-for="city in cityData" @click.native="setOpt(city)">{{city.cityName}}
                      </el-dropdown-item>
                    </el-dropdown-menu>
                  </el-dropdown>
                  <div id="chart" style="width:500px;height:350px;"></div>
                </div>
                <div class="map-pos">
                  <el-button type="primary" plain class="over-btn" @click='detailmap'>详细</el-button>
                  <div id="map" style="width: 500px;height:390px;"></div>
                </div>
              </div>
            </li>
            <li class="l-section section">
              <div id="cloud">
                <div class="feel-pos">
                  <el-dropdown>
                    <el-button type="primary" plain>
                      月份<i class="el-icon-arrow-down el-icon--right"></i>
                    </el-button>
                    <el-dropdown-menu slot="dropdown">
                      <el-dropdown-item v-for="month in monthList" @click.native="setFeeling(month)">{{month}}月
                      </el-dropdown-item>
                    </el-dropdown-menu>
                  </el-dropdown>
                  <div id="linepie" style="width:600px;height:400px;" class="left"></div>
                  <div id="wordcloud" style="width:350px;height:350px;margin-top: 30px;" class="left"></div>
                </div>
                <div class="over" v-if="news.length>0">
                  <el-card class="box-card" shadow="hover" style="width: 400px;">
                    <div slot="header" class="clearfix">
                      <span><strong>NEWS</strong></span>
                      <el-button style="float: right; padding: 3px 0; color: red;" type="text" @click="closeNews">X
                      </el-button>
                    </div>
                    <div style="height: 200px;overflow-y: auto;">
                      <div v-for="item in news" class="text item news-card">
                        <a target="_blank" :href="item.sourceUrl"
                          class="no-underline"><strong>{{item.title}}</strong></a><br>
                        <div><a target="_blank" :href="item.sourceUrl" class="no-underline">{{item.summary}}</a>
                          <br><a target="_blank" :href="item.sourceUrl" class="no-underline">from {{item.infoSource}}
                            {{item.pubDate}}</a>
                        </div>
                      </div>
                    </div>
                  </el-card>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <ul class="outer-nav">
      <li class="is-active">Search</li>
      <li>News</li>
      <li>Tables</li>
      <li>Charts</li>
      <li>Feeling</li>
    </ul>
  </div>
  <!-- 开发环境版本，包含了有帮助的命令行警告 -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/echarts/3.8.0/echarts.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/china.js"></script>
  <script src="./assets/js/echarts-wordcloud.min.js"></script>
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <!-- 官网提供的 axios 在线地址 -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="assets/js/myvue.js"></script>
  <script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script>
    window.jQuery || document.write('<script src="assets/js/vendor/jquery-2.2.4.min.js"><\/script>')
  </script>
  <script src="assets/js/functions-min.js"></script>
</body>

</html>